<launch>

    <node pkg="motor_control_system" type="motor_controller.py"
        name="motor_controller">
        <param name="port" value="/dev/ttyUSB0"/>
        <param name="baud" value="115200"/>
    </node>

    <machine name="ground" address="GROUND" user="underwater" 
        env-loader="/home/underwater/ros_env.sh"/>

    <node pkg="joy" type="joy_node" name="joystick" machine="ground">
        <param name="dev" value="/dev/input/js2"/>
    </node>

    <node pkg="motor_control_system" type="joy_to_motor.py" 
        name="joy_to_motorcmd" machine="ground"/>

    <node pkg="rqt_console" type="rqt_console" name="rqt" machine="ground"/>

</launch>
